@page "/about"

<PageTitle>About</PageTitle>

<section>
    <header>
        <h1>About Me</h1>
    </header>
    <article>
        <p class="about-text">My name is Rudie, and I am a software developer driven by passion and dedication. With 7 years of experience in the tech industry and 3 years specifically in software development, I have honed my skills and gained a wealth of knowledge. My specialty lies in C# & .NET Development, where I have been able to create efficient and robust solutions for a variety of complex problems. However, my expertise is not confined to these technologies. I am an ardent learner, always on the lookout for new technologies to master. This enthusiasm for learning propels me to stay updated with the latest trends and advancements in the tech world, thereby enabling me to adapt and evolve in this ever-changing industry.</p>
    </article>
</section>

<section>
    <header>
        <h2>Contact Information</h2>
    </header>
    <address>
        <ul class="contact-info">
            <li>Phone: 084 012 3012</li>
            <li>Email: <a href="mailto:Rudievw12work@gmail.com">Rudievw12work@gmail.com</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/rudie-van-wyk-344688203">https://www.linkedin.com/in/rudie-van-wyk-344688203</a></li>
        </ul>
    </address>
</section>

<section>
    <header>
        <h2>About the Application</h2>
    </header>
    <article>
        <p class="about-text">Currency-Exchange is an application designed to manage a list of currencies. It was built using ASP.NET Core Blazor and MySQL. The primary function of this application is to provide users with the ability to view current exchange rates. Users can add their preferred currencies to their personalized list, and the application will fetch the latest exchange rates for these currencies. This makes Currency-Exchange a handy tool for those who need to keep track of currency values, whether for personal finance, travel, or business purposes.</p>
    </article>
</section>
